<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsJRntduXVHfdpplLK7OfcAMGi_j76bPA</string>
	<key>GCM_SENDER_ID</key>
	<string>985484733975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.speaxa.teacher</string>
	<key>PROJECT_ID</key>
	<string>speaxa-teacher</string>
	<key>STORAGE_BUCKET</key>
	<string>speaxa-teacher.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985484733975:ios:a034879955a5a95117b652</string>
</dict>
</plist>